<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.zuehlke.browser.core.BrowserView"
            id="com.zuehlke.browser.core.view"
            name="Web Browser View"
            restorable="true">
      </view>
   </extension>

</plugin>
