<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.zuehlke.browser.demo.views.category"
            class="com.zuehlke.browser.demo.views.BrowserDemoView"
            icon="icons/web.gif"
            id="com.zuehlke.browser.demo.views.BrowserDemoView"
            name="Browser Demo"
            restorable="true">
      </view>
      <view
            category="com.zuehlke.browser.demo.views.category"
            class="com.zuehlke.browser.demo.views.TwitterWidgetView"
            icon="icons/twitter.gif"
            id="com.zuehlke.browser.demo.views.TwitterWidgetView"
            name="Twitter"
            restorable="true">
      </view>
      <category
            id="com.zuehlke.browser.demo.views.category"
            name="Browser Demo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zuehlke.browser.demo.perspective.PerspectiveFactory"
            icon="icons/web.gif"
            id="com.zuehlke.browser.demo.perspective"
            name="Browser Demo">
      </perspective>
   </extension>

</plugin>
